In [4]:
import numpy as np
import pandas as pd

In [2]:
%config IPCompleter.greedy=True

In [5]:
table = pd.read_csv('./Tabelas/train.csv')

In [6]:
char_cabin = table["Cabin"].astype(str)

In [7]:
new_cabin = np.array([cabin[0] for cabin in char_cabin])

In [8]:
table["Cabin"] = pd.Categorical(new_cabin)

In [9]:
my_tab = pd.crosstab(index=table["Survived"], columns="count")

In [10]:
pd.crosstab(index=table["Sex"], columns="quantidade")

col_0   quantidade
Sex
female         314
male           577

In [29]:
cabin_tab = pd.crosstab(index=table["Cabin"], columns="hopesdes", margins=True)
cabin_tab

In [16]:
relative = (cabin_tab/cabin_tab.sum())*100

In [27]:
survived_sex = pd.crosstab(index=table["Survived"], 
                           columns=table["Sex"], margins=True)
survived_sex

In [58]:
survived_class = pd.crosstab(index=table["Survived"], columns=table["Pclass"], margins=True)


survived_class.columns = ["1classe","2classe","3classe","TotalColuna"]
survived_class.indexn = ["Morreram","Sobreviveram","TotalColuna"]

survived_class

c:\users\vini6\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

          1classe  2classe  3classe  TotalColuna
Survived
0              80       97      372          549
1             136       87      119          342
All           216      184      491          891